WordScrambleConsoleGame/Connected Services/WordScrambleServiceReference/WordScrambleService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WordScrambleService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WordScrambleService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GameAlreadyHostedFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="HostName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameAlreadyHostedFault" nillable="true" type="tns:GameAlreadyHostedFault" />
  <xs:complexType name="Word">
    <xs:sequence>
      <xs:element minOccurs="0" name="ScrambledWord" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnscrambledWord" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Word" nillable="true" type="tns:Word" />
  <xs:complexType name="MaxPlayersReachedFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MaxPlayersReachedFault" nillable="true" type="tns:MaxPlayersReachedFault" />
  <xs:complexType name="GameNotHostedFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameNotHostedFault" nillable="true" type="tns:GameNotHostedFault" />
  <xs:complexType name="PlayerIsHostFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="HostName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerIsHostFault" nillable="true" type="tns:PlayerIsHostFault" />
  <xs:complexType name="PlayerNotInGameFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerNotInGameFault" nillable="true" type="tns:PlayerNotInGameFault" />
</xs:schema>