WordScrambleConsoleGame/Connected Services/WordScrambleServiceReference/WordScrambleService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WordScrambleService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:65509/WordScrambleService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:65509/WordScrambleService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:65509/WordScrambleService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WordScrambleService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWordScrambleService_IsGameBeingHosted_InputMessage">
    <wsdl:part name="parameters" element="tns:IsGameBeingHosted" />
  </wsdl:message>
  <wsdl:message name="IWordScrambleService_IsGameBeingHosted_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsGameBeingHostedResponse" />
  </wsdl:message>
  <wsdl:message name="IWordScrambleService_HostGame_InputMessage">
    <wsdl:part name="parameters" element="tns:HostGame" />
  </wsdl:message>
  <wsdl:message name="IWordScrambleService_HostGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:HostGameResponse" />
  </wsdl:message>
  <wsdl:message name="IWordScrambleService_HostGame_GameAlreadyHostedFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/WordScrambleService" name="detail" element="q1:GameAlreadyHostedFault" />
  </wsdl:message>
  <wsdl:message name="IWordScrambleService_Join_InputMessage">
    <wsdl:part name="parameters" element="tns:Join" />
  </wsdl:message>
  <wsdl:message name="IWordScrambleService_Join_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinResponse" />
  </wsdl:message>
  <wsdl:message name="IWordScrambleService_Join_MaxPlayersReachedFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/WordScrambleService" name="detail" element="q2:MaxPlayersReachedFault" />
  </wsdl:message>
  <wsdl:message name="IWordScrambleService_Join_GameNotHostedFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/WordScrambleService" name="detail" element="q3:GameNotHostedFault" />
  </wsdl:message>
  <wsdl:message name="IWordScrambleService_Join_PlayerIsHostFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/WordScrambleService" name="detail" element="q4:PlayerIsHostFault" />
  </wsdl:message>
  <wsdl:message name="IWordScrambleService_GuessWord_InputMessage">
    <wsdl:part name="parameters" element="tns:GuessWord" />
  </wsdl:message>
  <wsdl:message name="IWordScrambleService_GuessWord_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuessWordResponse" />
  </wsdl:message>
  <wsdl:message name="IWordScrambleService_GuessWord_PlayerNotInGameFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/WordScrambleService" name="detail" element="q5:PlayerNotInGameFault" />
  </wsdl:message>
  <wsdl:message name="IWordScrambleService_GuessWord_GameNotHostedFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/WordScrambleService" name="detail" element="q6:GameNotHostedFault" />
  </wsdl:message>
  <wsdl:message name="IWordScrambleService_LogOut_InputMessage">
    <wsdl:part name="parameters" element="tns:LogOut" />
  </wsdl:message>
  <wsdl:message name="IWordScrambleService_LogOut_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogOutResponse" />
  </wsdl:message>
  <wsdl:message name="IWordScrambleService_EndGame_InputMessage">
    <wsdl:part name="parameters" element="tns:EndGame" />
  </wsdl:message>
  <wsdl:message name="IWordScrambleService_EndGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:EndGameResponse" />
  </wsdl:message>
  <wsdl:portType name="IWordScrambleService">
    <wsdl:operation name="IsGameBeingHosted">
      <wsdl:input wsaw:Action="http://tempuri.org/IWordScrambleService/IsGameBeingHosted" message="tns:IWordScrambleService_IsGameBeingHosted_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWordScrambleService/IsGameBeingHostedResponse" message="tns:IWordScrambleService_IsGameBeingHosted_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HostGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IWordScrambleService/HostGame" message="tns:IWordScrambleService_HostGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWordScrambleService/HostGameResponse" message="tns:IWordScrambleService_HostGame_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IWordScrambleService/HostGameGameAlreadyHostedFaultFault" name="GameAlreadyHostedFaultFault" message="tns:IWordScrambleService_HostGame_GameAlreadyHostedFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Join">
      <wsdl:input wsaw:Action="http://tempuri.org/IWordScrambleService/Join" message="tns:IWordScrambleService_Join_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWordScrambleService/JoinResponse" message="tns:IWordScrambleService_Join_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IWordScrambleService/JoinMaxPlayersReachedFaultFault" name="MaxPlayersReachedFaultFault" message="tns:IWordScrambleService_Join_MaxPlayersReachedFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IWordScrambleService/JoinGameNotHostedFaultFault" name="GameNotHostedFaultFault" message="tns:IWordScrambleService_Join_GameNotHostedFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IWordScrambleService/JoinPlayerIsHostFaultFault" name="PlayerIsHostFaultFault" message="tns:IWordScrambleService_Join_PlayerIsHostFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuessWord">
      <wsdl:input wsaw:Action="http://tempuri.org/IWordScrambleService/GuessWord" message="tns:IWordScrambleService_GuessWord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWordScrambleService/GuessWordResponse" message="tns:IWordScrambleService_GuessWord_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IWordScrambleService/GuessWordPlayerNotInGameFaultFault" name="PlayerNotInGameFaultFault" message="tns:IWordScrambleService_GuessWord_PlayerNotInGameFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IWordScrambleService/GuessWordGameNotHostedFaultFault" name="GameNotHostedFaultFault" message="tns:IWordScrambleService_GuessWord_GameNotHostedFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <wsdl:input wsaw:Action="http://tempuri.org/IWordScrambleService/LogOut" message="tns:IWordScrambleService_LogOut_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWordScrambleService/LogOutResponse" message="tns:IWordScrambleService_LogOut_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EndGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IWordScrambleService/EndGame" message="tns:IWordScrambleService_EndGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWordScrambleService/EndGameResponse" message="tns:IWordScrambleService_EndGame_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWordScrambleService" type="tns:IWordScrambleService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsGameBeingHosted">
      <soap:operation soapAction="http://tempuri.org/IWordScrambleService/IsGameBeingHosted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HostGame">
      <soap:operation soapAction="http://tempuri.org/IWordScrambleService/HostGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GameAlreadyHostedFaultFault">
        <soap:fault use="literal" name="GameAlreadyHostedFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Join">
      <soap:operation soapAction="http://tempuri.org/IWordScrambleService/Join" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="MaxPlayersReachedFaultFault">
        <soap:fault use="literal" name="MaxPlayersReachedFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="GameNotHostedFaultFault">
        <soap:fault use="literal" name="GameNotHostedFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="PlayerIsHostFaultFault">
        <soap:fault use="literal" name="PlayerIsHostFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GuessWord">
      <soap:operation soapAction="http://tempuri.org/IWordScrambleService/GuessWord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PlayerNotInGameFaultFault">
        <soap:fault use="literal" name="PlayerNotInGameFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="GameNotHostedFaultFault">
        <soap:fault use="literal" name="GameNotHostedFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <soap:operation soapAction="http://tempuri.org/IWordScrambleService/LogOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EndGame">
      <soap:operation soapAction="http://tempuri.org/IWordScrambleService/EndGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WordScrambleService">
    <wsdl:port name="BasicHttpBinding_IWordScrambleService" binding="tns:BasicHttpBinding_IWordScrambleService">
      <soap:address location="http://localhost:65509/WordScrambleService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>